*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: darkblue;
    color: white;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.container h1{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 40px;
}
.container h1 span{
    color: aqua;
    border-bottom: 4px solid aqua;
    padding-bottom: 4px;
}
.display{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 20px 20px;
    margin-bottom: 25px;
    font-size: 20px;
    border-radius: 2px;
}
.display input{
    border: none;
    outline: none;
    font-size: 24px;
    color: black;
    background: transparent;
    cursor: none;
    width: 60%;
}
.display input::placeholder{
    color: black;
}
.display span{
    cursor: pointer;
}
button{
    padding: 10px;
    width: 30%;
    background-color: aqua;
    color: blue;
    font-size: 18px;
}
footer{
    color: white;
    text-align: end;
    font-weight: 600;
    font-size: 15px;
    margin: 15%;
    font-style: italic;
}